<h3> Edit Program </h3>

<%= simple_form_for [:admin,@program] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= select_tag(:pcategory_id, options_for_select(@pcategories, f.object.pcategory_id), :prompt => "Category") %>
  </div>
  <br>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :space %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if @program.image.present? %>
    <span>Current Image</span><br>
    <%= image_tag(@program.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.button :submit, "Update", data: { disable_with: "Submitting..." } %>
<% end %>
