<h2> Program List </h2>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("Add New Program", new_admin_program_path, class: "btn btn-primary btn-sm") %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="50">#</th>
      <th width="230"> Program Picture </th>
      <th width="150">Name</th>
      <th width="200">Category </th>
      <th width="70">Price</th>
      <th width="70">Age</th>
      <th width="100"> Options </th>
    </th>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td>
          <%= program.id %>
        </td>
        <td>
          <%= link_to program_path(program) do %>
            <% if program.image.present? %>
              <%= image_tag(program.image.thumb.url, class: "thumbnail") %>
            <% else %>
              <%= image_tag("http://plachold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= program.title %>
        </td>
        <td>
          <% if program.category %>
            <%= link_to(program.category.name, admin_category_path(program.category)) %>
          <% end %>
        </td>
        <td>
          <%= program.price %>
        </td>
        <td>
          <%= program.age_range %>
        </td>
        <td>
          <%= link_to("Edit", edit_admin_program_path(program)) %> |
          <%= link_to("Delete", admin_program_path(program), method: :delete, data: {confirm: "Are you sure to delete this program?"}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
