<h3> New Program </h3>

<%= simple_form_for [:admin,@program] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
  <%= select_tag(:category_id, options_for_select(@categories, f.object.category_id), :prompt => "Category") %>
  </div>
  <br>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :age_range %>
  </div>

  <div class="group">
    <%= f.input :space %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.button :submit, "Submit", data: { disable_with: "Submitting..." } %>
<% end %>
