<h2> Reservation List </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Created at</th>
      <th>Participant Name</th>
      <th>Participant Age</th>
      <th>Reservation Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to(order.id, admin_order_path(order)) %></td>
      <td><%= order.created_at.to_s(:long) %></td>
      <td><%= order.participant_name %></td>
      <td><%= order.participant_age %></td>
      <td><%= order.aasm_state %></td>
    <% end %>
  </tbody>

</table>
