<div class="row">
  <div class="col-md-12">

    <h3> Reservation Details
      <div class="pull-right"><%= render "admin/orders/state_option", order: @order %></div>
    </h3>

    <h5> <b>Reservation Status:</b> <%= render_order_status(@order) %></h5>

    <br>
    
    <table class="table">
      <thead>
        <tr>
          <th> Participant Information </th>
          <th> Contact Information </th>
        </tr>
      <tbody>
        <tr>
          <td>
            <b><%= @order.participant_name %></b><br>
            Age of <%= @order.participant_age %>
          </td>
          <td>
            <b><%= @order.contact_name %></b><br>
            <%= @order.contact_number %>
          </td>
        </tr>
      </tbody>
    </table>

    <br>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="30%">Program Details</th>
          <th> Program Category </th>
          <th> Price </th>
          <th> Slots Reserved </th>
        </tr>
      </thead>

      <tbody>
        <% @program_lists.each do |program_list|%>
          <tr>
            <td>
              <%= program_list.program_name %>
            </td>
            <td>
              <%= program_list.program_category %>
            </td>
            <td>
              <%= program_list.program_price %>
            </td>
            <td>
              <%= program_list.slot %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        Total Amount <%= @order.total %> CNY
      </span>
    </div>

  </div>
</div>
