<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!--- Head Media Section --->
  <div id="head-section">
		<div id="video-title">
			<h1>Be an outstanding Alpha Kid</h1>
			<%= link_to("Explore Now!", programs_path, class: "btn btn-alpha btn-lg") %>
		</div>
		<video autoplay="" loop="" muted="" style="width: 100%;">
			<source src="http://7xss15.com1.z0.glb.clouddn.com/landing_page_video.mp4" type="video/mp4">
		</video>
  </div>

<!-- Section About
================================================== -->
<section id="about">
  <div class="container">
  	<div class="row">
  		<div class="col-lg-10 col-lg-offset-1 text-center">
  			<h2 class="section-heading">充分发挥孩子的潜能<br/> Alpha <b>Values</b></h2>
  			<hr>
  			<p>
  				 我们的下一代，应该是<span style="color:#F57C00"><b>乐于思考，专于学习，善于观察，诣于创造</b></span>的。
  			</p>
  			<p>
  				 Alpha Kids Academy©主张孩子从小进行多元学习，在互动有趣的体验中，通过对科学技术的探索、美学情感的培养、智慧智力的拓展等不同领域的全面接触，从而培养其逻辑思维，语言能力，形体艺术，审美观念等多元智慧。
  			</p>
  			<p>
          除了让孩子们寓学于乐，我们也正通过Alpha Kids Academy©的平台建立Alpha社区。在这里，有着一起学习一起成长的Alpha小伙伴们，也聚集着交流学习志同道合的年轻父母们。我们希望在课堂之外，能在社区平台上，为Alpha孩子提供更多成长的助力！
  			</p>
  	</div>
  </div>
  </div>
</section>

<!-- Section Program Categories
================================================== -->
<section id="portfolio">
  <div class="container">
  	<div class="col-lg-12 text-center">
  		<h2 class="section-heading">我们的课程<br />Alpha <b>Programs</b></h2>
  		<hr class="primary">
  	</div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
    	<div class="col-lg-3 col-sm-6">
    		<a href="/programs?category=STEM+Discovery" class="portfolio-box">
    		<%= image_tag "STEM", :class=> "img-responsive"%>
    		<div class="portfolio-box-caption">
    			<div class="portfolio-box-caption-content">
    				<div class="project-category text-faded">

    				</div>
    				<div class="project-name">
    					 STEM Discovery<br />
               STEM体验
    				</div>
    			</div>
    		</div>
    		</a>
    	</div>
    	<div class="col-lg-3 col-sm-6">
    		<a href="/programs?category=Aesthetic+Revolution" class="portfolio-box">
    		<%= image_tag "aesthetic", :class => "img-responsive" %>
    		<div class="portfolio-box-caption">
    			<div class="portfolio-box-caption-content">
    				<div class="project-category text-faded">

    				</div>
    				<div class="project-name">
    					 Aesthetic Revolution<br/>
               审美·艺术
    				</div>
    			</div>
    		</div>
    		</a>
    	</div>
    	<div class="col-lg-3 col-sm-6">
    		<a href="/programs?category=Intelligence+Revolution" class="portfolio-box">
    		<%= image_tag "intelligence", :class => "img-responsive" %>
    		<div class="portfolio-box-caption">
    			<div class="portfolio-box-caption-content">
    				<div class="project-category text-faded">

    				</div>
    				<div class="project-name">
    					 Intelligence Exploration <br/>
               多元智能
    				</div>
    			</div>
    		</div>
    		</a>
    	</div>
    	<div class="col-lg-3 col-sm-6">
    		<a href="/programs?category=Academic+Support" class="portfolio-box">
    		<%= image_tag "academic", :class => "img-responsive" %>
    		<div class="portfolio-box-caption">
    			<div class="portfolio-box-caption-content">
    				<div class="project-category text-faded">

    				</div>
    				<div class="project-name">
    					 Academic Support<br/>
               满分学堂
    				</div>
    			</div>
    		</div>
    		</a>
    	</div>

  	</div>
  </div>
</section>


<!-- Section Testimonials
================================================== -->
<section id="testimonials">
<div class="container">
  <div class="row">
  	<div class="col-md-12" data-wow-delay="0.2s">
  		<div class="carousel slide" data-ride="carousel" id="quote-carousel">
  			<!-- Bottom Carousel Indicators -->
  			<ol class="carousel-indicators">
  				<li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="img/demo/testimonial1.jpg" alt="">
  				</li>
  				<li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="http://s3.amazonaws.com/caymandemo/wp-content/uploads/sites/11/2015/11/23042525/1-150x150.png" alt="">
  				</li>
  			</ol>
  			<!-- Carousel Slides / Quotes -->
  			<div class="carousel-inner text-center">
  				<!-- Quote 1 -->
  				<div class="item active">
  					<blockquote>
  						<div class="row">
  							<div class="col-sm-8 col-sm-offset-2">
  								<p>
  									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore!
  								</p>
  								<small>William W. Purkey</small>
  							</div>
  						</div>
  					</blockquote>
  				</div>
  				<!-- Quote 2 -->
  				<div class="item">
  					<blockquote>
  						<div class="row">
  							<div class="col-sm-8 col-sm-offset-2">
  								<p>
  									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
  								</p>
  								<small>Johnny Doe</small>
  							</div>
  						</div>
  					</blockquote>
  				</div>
  				<!-- End Quote 2 -->
  			</div>
  			<!-- Carousel Buttons Next/Prev -->
  			<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
  			<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
  		</div>
  	</div>
  </div>
  </div>
</section>

<!-- Section Fun Facts
================================================== -->
<section id="funfacts" class="parallax parallax-image">
<div class="wrapsection">
  <div class="container">
  	<div class="parallax-content">
  		<div class="row">
  			<div class="col-md-3">
  				<div class="funfacts text-center">
  					<div class="icon">
  						<i class="fa fa-table"></i>
  					</div>
  					<h3 class="counter" data-from="0" data-to="294" data-speed="2500">
  					80+</h3>
            <br>
            <h4>Program Variety</h4>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="funfacts text-center">
  					<div class="icon">
  						<i class="fa fa-trophy"></i>
  					</div>
  					<h3 class="counter" data-from="0" data-to="163" data-speed="2500">
  					50+ </h3>
            <br>
            <h4>Experienced Instructors</h4>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="funfacts text-center">
  					<div class="icon">
  						<i class="fa fa-group"></i>
  					</div>
  					<h3 class="counter" data-from="0" data-to="317" data-speed="2500">
  					1000+ </h3>
            <br>
            <h4>Alpha Community</h4>
  				</div>
  			</div>
  			<div class="col-md-3">
  				<div class="funfacts text-center">
  					<div class="icon">
  						<i class="fa fa-globe"></i>
  					</div>
  					<h3 class="counter" data-from="0" data-to="458" data-speed="2500">
  					30+ </h3>
            <br>
            <h4>Strategic Partners </h4>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
</div>
</section>
<div class="clearfix">
</div>


<!-- Section Team
================================================== -->
<section id="teambio" class="no-padding">
  <div class="container">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading"><b>Alpha Team</b></h2>
      <hr class="primary">
    </div>
  </div>
  <br />
  <br />
  <div class="col-md-4 bg-dark no-padding teambox">
    <div class="team-thumb overlay-image view-overlay">
  	<img src="https://s3-eu-west-1.amazonaws.com/layanademo/guess-attic-837156_640.jpg" alt="" class="img-responsive">
    	<div class="mask team_quote">
    		<div class="port-zoom-link">
    			<p>
    				 Its is great to work in such company, some other projects will be started in the same format!
    			</p>
    		</div>
    	</div>
    </div>
    <h2>BEVERLY GARCIA</h2>
      <p>
  	 VOLUNTEER WORK
      </p>
    <div class="team-social">
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
    	<a href="#"><i class="fa fa-google-plus"></i></a>
    	<a href="#"><i class="fa fa-skype"></i></a>
    </div>
  </div>
  <div class="col-md-4 bg-dark no-padding teambox">
    <div class="team-thumb overlay-image view-overlay">
    	<img src="https://s3-eu-west-1.amazonaws.com/layanademo/beauty-355157_640.jpg" alt="" class="img-responsive">
    	<div class="mask team_quote">
    		<div class="port-zoom-link">
    			<p>
    				 Its is great to work in such company, some other projects will be started in the same format!
    			</p>
    		</div>
    	</div>
    </div>
    <h2>MARY LACOSTE</h2>
    <p>
    	 LAYANA FOUNDER
    </p>
    <div class="team-social">
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
    	<a href="#"><i class="fa fa-google-plus"></i></a>
    	<a href="#"><i class="fa fa-skype"></i></a>
    </div>
  </div>
  <div class="col-md-4 bg-primary no-padding teambox">
    <div class="team-thumb overlay-image view-overlay">
    	<img src="https://s3-eu-west-1.amazonaws.com/layanademo/woman-983967_640.jpg" alt="" class="img-responsive">
    	<div class="mask team_quote">
    		<div class="port-zoom-link">
    			<p>
    				 Its is great to work in such company, some other projects will be started in the same format!
    			</p>
    		</div>
    	</div>
    </div>
    <h2>CAROL STEPHENS</h2>
    <p>
  	 PUBLIC RELATIONS
    </p>
    <div class="team-social">
    	<a href="#"><i class="fa fa-twitter"></i></a>
    	<a href="#"><i class="fa fa-linkedin"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
    	<a href="#"><i class="fa fa-google-plus"></i></a>
    	<a href="#"><i class="fa fa-skype"></i></a>
    </div>
  </div>
</section>
<div class="clearfix">
</div>


<!-- Footer
================================================== -->
<footer>
  <%= render "common/footer" %>
</footer>



<!-- jQuery -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/parallax.js"></script>
<script src="js/contact.js"></script>
<script src="js/countto.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
