<div class="row">
  <div class="col-md-12">

    <h2> Reservation Details </h2>

    <table class="table" width="500">
      <thead>
        <tr>
          <th>Program Name</th>
          <th>Category</th>
          <th>Slots Reserved</th>
          <th>Subtotal</th>
        </tr>
      </thead>

      <tbody>
        <% @program_lists.each do |program_list| %>
          <tr>
            <ol><td><li><b>
              <%= program_list.program_name %>  </b></li>
            </td></ol>
            <td>
              <%= program_list.program_category %>
            </td>
            <td>
              <%= program_list.slot %>
            </td>
            <td>
              <%= program_list.program_price * program_list.slot %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right" ><b>
        Total Amount <%= render_reservation_total_price(current_reservation) %> CNY
      </b></span>
    </div>

    <hr>

    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td colspan="2"><b>
            Participant Information</b>
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.participant_name %>
          </td>
          <td>
            Age of <%= @order.participant_age %>
          </td>
        </tr>
        <tr>
          <td colspan="2"><b>
            Contact Information</b>
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.contact_name %>
          </td>
          <td>
            <%= @order.contact_number %>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
