<p id="notice"><%= notice %></p>

<h2> Category List </h2>

<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("Add New Category", new_category_path, class: "btn btn-primary btn-sm") %>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th width="100">Name</th>
      <th width="200">Description</th>
      <th width="80">Programs Count</th>
      <th width="150"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><b><%= link_to(category.name, category_path(@category_programs)) %></b></td>
        <td><%= category.description %></td>
        <td><%= category.programs.count %></td>
        <td><%= link_to 'Show', category %> |
            <%= link_to 'Edit', edit_category_path(category) %> |
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
