<nav class="navbar-default navbar-fixed-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->

  <div class="navbar-block">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <span><%=image_tag "logo.png", :class => "d-inline-block" %></span>
          <span class="navbar-brand-reg">MY</span>
          <span class="navbar-brand-core">ALPHA</span>
          <span class ="navbar-brand-reg"> KIDS</span>
        </a>
      </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-bars" style="font-size:20px"></i></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Alpha Programs</li>
                <li><%= link_to("All Programs", programs_path) %></li>
                <% Category.all.each do |category| %>
                  <li><%= link_to(category.name, programs_path(category: category.name)) %> </li>
                <% end %>
                <!-- <li><a href="#">
                  <i class="fa fa-fw fa-flask"></i>
                  <span>STEM Discovery </span></a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-fw fa-paint-brush"></i>
                    <span>Aesthetic Revolution </span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-fw fa-lightbulb-o"></i>
                    <span>Intelligence Exploration</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class='fa fa-fw fa-graduation-cap'></i>
                    <span>Academic Support</span>
                  </a>
                </li> -->
                <li class="divider"></li>
                <li class="dropdown-header"> Alpha News </li>
              </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-link">
            <%= link_to reservations_path do %>
                Reservation <i class="fa fw fa-calendar-plus-o"></i>(<%= current_reservation.programs.count %>)
            <% end %>
          </li>

          <% if !current_user %>
            <li><%= link_to("Sign Up", new_user_registration_path) %></li>
            <li><%= link_to(content_tag(:i, "Sign In", class: 'fa fw fa-sign-in'), new_user_session_path) %></li>
          <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi! <%= current_user.email %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li> <%= link_to("Admin Panel", admin_programs_path) %></li>
                <% end %>
                <li>
                  <%= link_to("Reservation History", account_orders_path ) %>
                </li>
                <li class="divider"> </li>
                <li>
                  <%= link_to(content_tag(:i, "Sign Out", class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %></li>
              </ul>
             </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->

      </div>

</nav>
